<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>FORMULARIO DE CREACION DE USUARIO</H1>
    <form action="/insertar_usuario" method="POST">
        Nombre: <input type="text" name="nombre"/>
        Apellido: <input type="text" name="apellido"/>
        Correo: <input type="text" name="correo"/>
        <input type="submit" value="Crear Usuario">
    </form>

   

</body>
</html>